# https://flake8.pycqa.org/en/latest/user/configuration.html#configuration-locations
# +
# https://github.com/psf/black/blob/master/docs/the_black_code_style.md#line-length
[flake8]
# black wraps at 88
max-line-length = 90
extend-ignore = E203
