language: python
# cache: pip # not enough installed via pip to justify
python:
  - "3.6"
os:
  - linux
dist: bionic # 18.04
before_install:
  - pip install -U pip
install: 
  - pip install -r ./ci/requirements.txt
  - pip install -r ./python/requirements.txt
  - ./ci/install_$TRAVIS_OS_NAME.sh
script:
  - ./ci/test.sh
  - ./ci/lint.sh
  - make local_run
