---
# cache: pip # not enough installed via pip to justify
jobs:
  include:
    - os: linux
      language: python
      python: 3.6
    - os: osx
      language: shell
      osx_image: xcode12.2 # macOS 10.15.7 Python 3.8.6
      before_install:
        - brew install openssl # p4python needs SSL libraries to successfully build from source.
    - os: windows
      language: shell
      before_install:
        - choco install python3 --version 3.8.0
        - ln -sf /c/Python38/python /c/Python38/python3
      env:
        PATH: /c/Python38:/c/Python38/Scripts:$PATH
before_install:
  - python3 --version
  - pip3 install -U pip
install:
  - python3 -m pip install -r ./ci/requirements.txt
  - python3 -m pip install -r ./python/requirements.txt
  - ./ci/install_$TRAVIS_OS_NAME.sh
script:
  - ./ci/test.sh
  - ./ci/lint.sh
  - make local_run
